
*{display: grid;}
html{font-size: 62.5%;}
head{display: none;}
/*I haven't been able to figure out why each element inside the body doesn't like the display property. Every time I check it shows up as article {display:block} nav, ul, li, etc... This was the only way I could get it to work, but then the page title was showing up on the screen so I had to explicitly hide that chunk*/


body{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 0.1fr 3fr 1fr;
    gap: 15px 10px;
}
/*change row one size */

.header-layout{
     
    grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row: 1;
    font-family: 'Oxygen', sans-serif;
}


.header-layout{
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns: 25px 1fr 1fr 1fr; 
    
}

.header-logo{
    
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    width: 400px;
    border:2px double cornflowerblue;
    border-radius: 175px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
/*box shadow taken from getcssscan.com, creator wasn't listed, but it was number 22*/

.header-h1{
    grid-column: 3/5;
    grid-row: 2; 
    
    font-size:6.0rem;
    font-weight: 700;
    letter-spacing: 4px;
    font-family: 'Oxygen', sans-serif;
    justify-content:space-around;
    align-content: center;   
}
.header-nav{
    grid-column: 3/5;
    grid-row: 3; 
    text-transform: uppercase;
    font-size:1.3rem;
    font-weight: 400 ;
    
}
.header-nav li{grid-row: 3; justify-content: space-around;}




.oxygen-light {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .oxygen-regular {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .oxygen-bold {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  