


.body{
    display:grid;
    grid-template-columns: 1fr 4fr 3fr;
    grid-template-rows: 300px 3fr 1fr 1fr;
}
/*change row one size */

.header-layout{
    background-color: rgba(100, 148, 237, 0.596); 
    grid-column-start: 1; 
    grid-column-end: 5; 
    grid-row: 1;
    border: 2px dotted red;
}


.header-layout{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; 
}

.header-logo{
    width: 200px; border: 2px dotted red;
    grid-row: 2;
    grid-column: 1;
}

.header-nav{grid-column: 3;
    grid-row: 2/3; 
    border: 2px dotted red;
    align-self: center;
    text-transform: uppercase;
}

.header-nav li{text-decoration: none;}

.header-h1{
    grid-column: 2;
    grid-row: 1; 
    border: 2px dotted red;
    
}

.main{
    background-color:rgba(236, 222, 90, 0.541); 
    grid-column: 1/3; 
    grid-row: 2/3;
}


.main img{width: 300px;}



.aside{
    background-color: rgba(102, 51, 153, 0.521); 
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: 3/4;
}

.footer{
    background-color: rgba(255, 123, 75, 0.548); 
    grid-column: 1/4; 
    grid-row: 3/4;
}
