
*{display: grid;}
html{font-size: 62.5%;}
head{display: none;}
/*I haven't been able to figure out why each element inside the body doesn't like the display property. Every time I check it shows up as article {display:block} nav, ul, li, etc... This was the only way I could get it to work, but then the page title was showing up on the screen so I had to explicitly hide that chunk*/


body{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 0.1fr 3fr 1fr;
    gap: 15px 10px;
}
/*change row one size */

.header-layout{
     
    grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row: 1;
    font-family: 'Oxygen', sans-serif;
}


.header-layout{
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-columns: 25px 1fr 1fr 1fr; 
    
}

.header-logo{
    
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
    width: 400px;
    border:2px double cornflowerblue;
    border-radius: 175px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
/*box shadow taken from getcssscan.com, creator wasn't listed, but it was number 22*/

.header-h1{
    grid-column: 3/5;
    grid-row: 2; 
    
    font-size:6.0rem;
    font-weight: 700;
    letter-spacing: 4px;
    font-family: 'Oxygen', sans-serif;
    justify-content:space-around;
    align-content: center;   
}
.header-nav{
    grid-column: 3/5;
    grid-row: 3; 
    text-transform: uppercase;
    font-size:1.3rem;
    font-weight: 400 ;
    
}
.header-nav li{grid-row: 3; justify-content: space-around;}

.main-layout{
    grid-column:1/3; 
    grid-row: 2/3;   
}

.main-layout{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr 1fr;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;  
}

.main-section1{
    grid-column:1/5;
    grid-row:1/4;
    font-family: 'Oxygen', sans-serif; 
    background-color:rgba(245, 249, 255, 0.274) ;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.main-section1-article1{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 2px double cornflowerblue;
    background-color:rgba(172, 201, 255, 0.274) ;
    border-radius: 10px;
    justify-content: center;
    grid-column: 1/4;
    grid-row:1/3;
    margin:15px;
}
.tea-talk-h2{ 
    grid-column: 1/2;
    grid-row:1/3;
    justify-content:space-around;
    align-content: center;
    font-size: 2.8rem;
    letter-spacing: 2px;
    margin: 15px  15px 75px 15px;
    text-transform: uppercase;
}
.tea-talk-content{
    grid-column: 2/4;
    grid-row:2/3;
    font-size:1.4rem;
    justify-content:center;
    margin:45px 15px 15px 15px;
    word-spacing: 4px;
    text-align:center;
}
.types-of-tea{
    grid-column: 1/4;
    grid-row: 3/4;
    align-content: center;
    font-size: 1.5rem;
    border: 2px double cornflowerblue;
    background-color:rgba(172, 201, 255, 0.274) ;
    border-radius: 10px;
    margin: 15px;
    font-family: 'Oxygen',sans-serif;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.types-of-tea a{color: black; text-transform: lowercase;}
.types-of-tea li{text-indent: 25px; font-weight: 300; font-family: 'Oxygen',sans-serif;}
.selection{
    grid-column: 1/4;
    grid-row: 3;
    justify-self: center;
    align-self: center;
    font-size: 3.2rem;
    text-decoration: solid;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Oxygen',sans-serif;
}
.black-tea-list{
    grid-column: 1;
    grid-row: 4;
    justify-content: center;
    
}
.fruit-tea-list{
    grid-column:2;
    grid-row: 4;
    justify-content: center;
}
.tea-blends-list{
    grid-column: 3;
    grid-row: 4;
    justify-content: center;
}


.main-section2{
    grid-row:4/6;
    grid-column: 1/ 5;
    justify-content: center;
    font-size: 2.0rem;
    font-weight:400;
    font-family: 'Oxygen', sans-serif;  
    
    background-color:rgba(245, 249, 255, 0.274) ;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.main-section2-content{
    grid-row:4/6;
    grid-column: 1/ 5;
    justify-content: center;
    font-size: 2.0rem;
    font-weight:400;
    font-family: 'Oxygen', sans-serif;  
    margin: 15px;
    border: 2px double cornflowerblue;
    background-color:rgba(172, 201, 255, 0.274) ;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.main-section2-text{
    grid-column: 3/6;
    grid-row: 5;
    font-size: 1.3rem; 
    justify-self: start;  
    align-self: center;
   text-align: center;
    font-weight:400;
    margin-right: 15px;  
}






.oxygen-light {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .oxygen-regular {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .oxygen-bold {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  